@import "../color.scss";

.button {
  width: 256px;
  height: 74px;
  border: none;
  border-radius: 125px;
  background-color: var(--main-color);
  font-size: 28px;
  color: var(--white);
}

@media screen and (max-width: 768px) {
  .button {
    margin: 0 auto;
    width: 86vw;
    height: 7vh;
    position: absolute;
    bottom: 14vh;
    left: 0;
    right: 0;
    font-size: 20px;
    font-weight: 600;
  }
}