@import "./color.scss";

.header {
  // width: 1330px;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 26px;
  z-index: 99;

  & .header__logo {
    font-size: 22px;
    font-weight: 700;
    &:hover {
      cursor: pointer;
    }
  }
  & .header__menu {
    width: 40rem;
    display: flex;
    justify-content: space-between;
    & .header__menu-item {
      width: 33%;
      text-align: center;
      font-size: 22px;
      font-weight: 600;
      & .loginBtn {
        cursor: pointer;
        &:hover {
          color: var(--main-color);
        }
      }
    }
  }
}

.main {
  & .header__logo {
    color: var(--main-color);
  }
  & .header__menu {
    color: var(--white);
  }
}

.detail {
  & .header__logo {
    color: var(--black);
  }
  & .header__menu {
    color: var(--black);
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 90%;
    display: inline;

    & .header__logo {
      font-size: 16px;
    }
    & .header__menu {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 83px;
      background-color: #fff;
      color: #000;
      & .header__menu-item {
        font-size: 10px;
        & div {
          width: 30px;
          height: 28px;
          background-color: #c4c4c4;
          margin: 5px auto 5px;
        }
      }
    }
  }
}