@import "./color.scss";

.detailHeader {
  width: 100vw;
  height: 75px;
  position: fixed;

  left: 0;
  right: 0;
  z-index: 99;

  & .header__logo {
    position: relative;
    top: 4vh;
    left: 5vh;
    font-size: 22px;
    font-weight: 700;
    color: var(--main-color);
  }
}

@media screen and (max-width: 768px) {
  .detailHeader {
    display: inline;

    & .header__logo {
      font-size: 16px;
    }
  }
}
