.container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 768px) {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.main {
  background-color: rgba(0, 0, 0, 0.3);
}

.detail {
  justify-content: flex-start;
}

.option {
  justify-content: flex-start; 
}