@import "./color.scss";

.container {
  position: fixed;
  top: 0;
  left: 0;
  // opacity: 0.4;
  height: 100vh;
  width: 100vw;
  z-index: 600;

  & .formWrap {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 380px;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    z-index: 610;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 500px) {
      width: 280px;
    }

    & .titleWrap {
      display: inline-block;
      text-align: center;
      margin-bottom: 20px;

      & .mainTitle {
        font-size: 24px;
        line-height: 20px;
        letter-spacing: -0.015em;
        color: black;
        margin: 20px 0;
      }

      & .subTitle {
        font-size: 18px;
        line-height: 8px;
        letter-spacing: -0.015em;
        color: var(--main-color);
      }
    }
    .btnWrap {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: 15px;

      & a {
        display: flex;
        justify-content: space-between;
        font-style: none;
        max-width: 282px;
        height: 40px;
        align-items: center;
        border-radius: 20px;
        margin: 0 auto 16px;
        cursor: pointer;
        padding: 0 30px 0 16px;
        text-decoration: none;
      }
      .kakaoBtn {
        background-color: #fce000;
      }
      .naverBtn {
        background-color: #00c63b;
      }
      .emailBtn {
        background-color: #dc4e41;
      }
      & .socialLogo {
        display: inline-block;
        width: 30px;
        height: 30px;
      }
      & .Email {
        width: 20px;
        height: 20px;
        margin: 5px;
      }
      & p {
        font-size: 15px;
        font-weight: 400;
        color: var(--white);
      }
    }

    & .LoginSignUpWrap {
      font-size: 12px;
      color: #393939;
      margin-top: 12px;
      font-weight: 400;
      font-size: 12px;
      line-height: 14.63px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      & .LoginSignUpBtn {
        text-decoration: underline;
        cursor: pointer;
        margin-left: 4px;
      }
    }
  }
}
