@import "./color.scss";

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  // @media screen and (max-width: 768px) {
  //   justify-content: flex-start;
  //   align-items: flex-start;
  // }

  & .FormWrap {
    width: px;
    margin: 10px auto;
    padding: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .informWrap {
      width: 268px;
      height: 74px;

      & .MainTitle {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 30px;
        color: var(--main-color);
        display: block;
        position: relative;
        left: 0px;
      }
    }

    & .similarInformWrap {
      margin-bottom: 30px;

      & .informWrap {
        width: 268px;
        height: 74px;

        & .informTitle {
          font-weight: 400;
          font-size: 12px;
          line-height: 20px;
          color: #d4d4d4;
        }
        & .textBox {
          width: 100%;
          height: 34px;
          border-radius: 4px;
          border-color: #ececec;
          background-color: #fff;
          box-sizing: border-box;
          padding-left: 10px;
          border: 1px solid;
          opacity: 0.2;
          cursor: pointer;
        }
        & input:focus {
          outline: none;
          opacity: 1;
          border-color: var(--main-color);
        }
        & input:focus::placeholder {
          color: transparent;
        }
      }
    }
    .btnWrap {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & .signUpBtn {
        width: 268px;
        height: 40px;
        border: none;
        font-weight: 400;
        border-radius: 30px;
        background-color: var(--main-color);
        font-size: 16px;
        color: var(--white);
        margin-bottom: 17px;
      }
      // @media screen and (max-width: 768px) {
      //   .signUpBtn {
      //     margin: 0 auto;
      //     width: 86vw;
      //     height: 7vh;
      //     position: absolute;
      //     bottom: 14vh;
      //     left: 0;
      //     right: 0;
      //     font-size: 20px;
      //     font-weight: 600;
      //   }
      // }
      & .agreeText {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
      }
      & span {
        text-decoration: underline;
        margin-right: 5px;
      }
    }
  }
}
